---
title: Novium Designbyrå - Ida Lundberg
keywords: Designbyrå, Novium Designbyrå, Novium Design, Webbsida
description: Kontakta oss på Novium Designbyrå
body_class: contact-page
published: false
---

.container
  .case
    .row
      .span12
        %img.logo{:alt => "Interapp logo", :src => "img/master.png"}
    .row
      .span4.desc
        %h1 Interapp
        %ul.unstyled
          %li Redesign
          %li Serverdrift
      .span8
        .row
          .span8
            %section
              %p
                Ida Lundberg är ett italienskt high fashion brand och till lika namnet på designern. Vi hjälpte Ida att se över sin webbsida.
          .span8
            %img{:alt => "Interapps koncept", :src => "/img/portfolio/case-study/idalundberg/concept.png"}
            %p.imgtext En flödande karaktär som symboliserar moderna applikationer.
          .span8
            %img{:alt => "Interapps flöde i typografin", :src => "img/flowing-characters.png"}
          .span8
            %img{:alt => "Interapps renaodlade bokstäver", :src => "img/finetuning.png"}
            %p.imgtext Bokstävers olika former har renodlats för ett samlat intryck.