---
title: Novium Designbyrå - Interapp
keywords: Designbyrå, Novium Designbyrå, Novium Design, Förpackningsdesign, Logotype, Logotyp, Interapp
description: Logotypdesign för Interapp
body_class: casestudy-page
---

.container
  .case
    .row
      .span12
        %img.logo{:alt => "Interapp logo", :src => "/img/portfolio/case-study/interapp/master.png"}
    .row
      .span4.desc
        %h1 Interapp
        %ul.unstyled
          %li Logotypdesign
      .span8
        .row
          .span8
            %section
              %p
                Erinet är en webbyrå som har gått samman med andra aktörer för att arbeta med ett antal nya affärsområden inom digitala medier. Uppdraget var att skapa en logotypdesign som skulle fungera som en tydlig kvalitetstämpel och bidra med snabb identifikation för Interapp - det övergripande varumärkesnamnet för de olika affärsområdena. Den
                bärande idén bakom typografins nya form är upplevelsen
                av logistik och ett naturligt flöde som genomströmmar
                namnet.
          .span8
            %img{:alt => "Interapps koncept", :src => "/img/portfolio/case-study/interapp/concept.png"}
            %p.imgtext En flödande karaktär som symboliserar moderna applikationer.
          .span8
            %img{:alt => "Interapps flöde i typografin", :src => "/img/portfolio/case-study/interapp/flowing-characters.png"}
          .span8
            %img{:alt => "Interapps renaodlade bokstäver", :src => "/img/portfolio/case-study/interapp/finetuning.png"}
            %p.imgtext Bokstävers olika former har renodlats för ett samlat intryck.