---
title: Novium Designbyrå - Kimbiacamp
keywords: Designbyrå, Novium Designbyrå, Kimbiacamp
description: Redesign av webbsida åt Kimbiacamp
body_class: casestudy-page
---

.container
  .case
    .row
      .span12
        %img.logo{:alt => "Kimbiacamp träd", :src => "/img/portfolio/case-study/kimbiacamp/master.jpg"}
    .row
      .span4.desc
        %h1
          %a{:href => "http://kimbiacamp.se"} Kimbiacamp
        %ul.unstyled
          %li Webb
          %li Redesign
      .span8
        .row
          .span8
            %section
              %p
                Kimbiacamp anordnar löparresor till Kenya. Höghöjdsträning pressar kroppen extra hårt och är en mycket effektiv träningsform samtidigt som Kenya ger många möjligheter till att uppleva den vackra naturen.
              %p
                Vi fick i uppdrag att hjälpa Kimbiacamp med att ta fram känslan av Kenya på webbplatsen. Kimbiacamp upplevde att de trivdes med sitt publiceringssystem med saknade värmen i det grafiska uttrycket. Med inspiration av den Kenyanska röda sanden och savannen skapade vi nya Kimbiacamp.
              %p
                Besök
                %a{:href => "http://kimbiacamp.se"} www.kimbiacamp.se
          .span8
            %img{:alt => "Färgtema för Kimbicamp", :src => "/img/portfolio/case-study/kimbiacamp/colors.png"}