---
title: Novium Designbyrå - Klostermark
keywords: Designbyrå, Novium Designbyrå, Webbdesign, Klostermark
description: Webbsida för Klostermark Accounting
body_class: casestudy-page
---

.container
  .case
    .row
      .span12
        %img.logo{:alt => "Klostermark jumbotron", :src => "/img/portfolio/case-study/klostermark/master.jpg"}
    .row
      .span4.desc
        %h1
          %a{:href => "http://klostermark.se"} Klostermark
        %ul.unstyled
          %li Webbutveckling
          %li Servermiljö
      .span8
        .row
          .span8
            %section
              %p
                Klostermark Accounting är en nytänkande och spännande aktör inom ekonomiska tjänster för företag.
                Tillsammans med Daniel Hilding
                %a{:href => "https://twitter.com/hilding"} (@Hilding)
                har vi tagit fram en webbsida som passar ett ungt och kreativt företag.
              %p
                När du tänker på en webbsida tänker du förmodligen på det visuella? Det gör vi också. Till en början. När vi var klara med webbsidan kände vi att det fanns så mycket mer att ge. Internet handlar om en användarupplevelse, en känsla av responsivitet. Vi gick tillbaka till ritbordet och optimerade varenda fil för att öka prestandan. Vi strukturerade om Klostermarks servermiljö och skickade ut materialet i molnet för att komma närmare användaren. Efter vår optimering kunde vi konstatera att vi lyckats skapa en användarupplevelse så responsiv och snabb att känslan av väntetider helt eliminerats. Allt för upplevelsens skull.
              %p
                Besök sajten på
                %a{:href => "http://klostermark.se"} www.klostermark.se
          .span8
            %img{:alt => "Klostermarks logo", :src => "/img/portfolio/case-study/klostermark/logo.png"}
          .span8
            %img{:alt => "Bild på grafisk design av sidfoten till Klostermark.se", :src => "/img/portfolio/case-study/klostermark/footer.jpg"}
          .span8
            %img{:alt => "Statistik över webbplatsens prestanda", :src => "/img/portfolio/case-study/klostermark/pagespeed.png"}