---
title: Novium Designbyrå - Klostermark
keywords: Designbyrå, Novium Designbyrå, Webbdesign, Logotyp, Logopederna
description: Webbsida för Klostermark Accounting
body_class: casestudy-page
---

.container
  .case
    .row
      .span12
        %img.logo{:alt => "Design av grafiska element", :src => "/img/portfolio/case-study/logopederna/master.jpg"}
    .row
      .span4.desc
        %h1
          %a{:href => "http://logopederna.se", :target => "_blank"} Logopederna
        %ul.unstyled
          %li Branding
          %li Webbdesign
      .span8
        .row
          .span8
            %section
              %p
                Logopederna är en av de största aktörerna inom logopedi i Stockholms Läns Landsting. Med en varmare känsla hjälper Logopederna personer som tycker det är svårt med att läsa, skriva, räkna eller tala till att få det lite enklare i vardagen. Novium ser till att Logopederna blir det självklara valet genom en distinkt grafisk profil som förstärker erbjudandet.
              %p
                %a{:href => "http://logopederna.se", :target => "_blank"} Besök Logopederna.se
          .span8
            %img{:alt => "Webbdesign", :src => "/img/portfolio/case-study/logopederna/site-1.jpg"}
          .span8
            %img{:alt => "Logotypredesign åt Logopederna", :src => "/img/portfolio/case-study/logopederna/logo-design.png"}
          .span8
            %img{:alt => "Webbdesign", :src => "/img/portfolio/case-study/logopederna/site-2.jpg"}