---
title: Novium Designbyrå - Logotypica
keywords: Designbyrå, Novium Designbyrå, Logotyper, Logotypica
description: Grafisk identitet och webbsida åt Logotypica
body_class: casestudy-page
---

.container
  .case
    .row
      .span12
        %img.logo{:alt => "Logotypicas logo", :src => "/img/portfolio/case-study/logotypica/master.png"}
    .row
      .span4.desc
        %h1
          %a{:href => "http://logotypica.se"} Logotypica
        %ul.unstyled
          %li Branding
          %li Webbdesign
      .span8
        .row
          .span8
            %section
              %p
                Logotypica hjälper varumärken att bli valda genom design som framhäver det äkta. Verktygen är symboler, logotyper och olika grafiska element.
              %p
                Besök sajten på
                %a{:href => "http://logotypica.se"} www.logotypica.se
          .span8
            %img{:alt => "Webbsida", :src => "/img/portfolio/case-study/logotypica/site.jpg"}