---
title: Novium Designbyrå - Resville Mathantverk
keywords: Designbyrå, Novium Designbyrå, Logotyper, Logotypica
description: Designbyrå, Novium Designbyrå, Förpackningsdesign, Logotyp, Resville, Resville Mathantverk
body_class: casestudy-page
---

.container
  .case
    .row
      .span12
        %img.logo{:alt => "Resville logotype", :src => "/img/portfolio/case-study/resville/master.png"}
    .row
      .span4.desc
        %h1 Resville
        %ul.unstyled
          %li Branding
          %li Förpackningsdesign
      .span8
        .row
          .span8
            %section
              %p
                Resville Mathantverk är ett småskaligt mathantverksföretag med inriktning på att förädla traktens frukter, bär och grönsaker. Med klassiska metoder och genuint hantverk produceras utsökta sylter och marmelader.
              %p
                När vi fick i uppdrag att formge Resville Mathanverk ville vi skapa en identitet som speglade företaget hela vägen från produktion till slutkonsument. Med en klassisk formgivning av logotyp och förpackning lyfter vi fram det genuina och äkta i produktionen.
          .span8
            %img{:alt => "Förpackningsdesign", :src => "/img/portfolio/case-study/resville/package-1.jpg"}
          .span8
            %img{:alt => "Förpackningsdesign", :src => "/img/portfolio/case-study/resville/package-2.jpg"}