---
title: Novium Designbyrå - Sydamerikaresebyrån
keywords: Designbyrå, Novium Designbyrå, Webbdedsign
description: Webbdesign och CMS åt Sydamerikaresebyrån
body_class: casestudy-page
published: false
---

.container
  .case
    .row
      .span12
        %img.logo{:alt => "Logotypicas logo", :src => "/img/portfolio/case-study/sydamerikaresebyran/master.png"}
    .row
      .span4.desc
        %h1
          %a{:href => "http://logotypica.se"} Sydamerikaresebyrån
        %ul.unstyled
          %li Mönsterdesign
          %li Backendutveckling
      .span8
        .row
          .span8
            %section
              %p
                Sydamerikaresebyrån anordnar upplevelseresor till hela Sydamerika.
              %p
                Vi fick i uppdrag att ta fram ett nytt CMS och mönsterdesign. Resebyrån upplevde att publiceringssystemet inte arbetade på ett sätt som passade verksamheten. Vi specialbyggde ett publiceringssystem skrivet i Ruby on Rails för att förenkla vardagen. Med hjälp av AJAX får användaren en snabb upplevelse av sajten.
              %p
                Besök sajten på
                %a{:href => "http://logotypica.se"} www.sydamerikaresebyran.se
          .span8
            %img{:alt => "Webbsida", :src => "/img/portfolio/case-study/sydamerikaresebyran/site.jpg"}