%footer
  .container
    .row{:itemscope => "", :itemtype => "http://schema.org/Organization"}
      .span3
        %h5 Novium Designbyrå
      .span3
        %span{:itemprop => "address"}
          Bråvallavägen 38
          %br/
          182 66 Djursholm
        %span{:itemprop => "telephone"} +46 (0) 735 34 50 22
        %span{:itemprop => "email"}
          %a{:href => "mailto:info@noviumdesign.se"} info@noviumdesign.se
      .span3
        %ul.unstyled.social
          %li
            %a{:href => "http://facebook.com/NoviumDesign"} Facebook
          %li
            %a{:href => "http://twitter.com/noviumdesign"} Twitter
          %li
            %a{:href => "http://linkedin.com/company/novium-designbyr-"} LinkedIn
          %li
            %a{:href => "http://plus.google.com/103701483992506952153", :rel => "publisher"} G+
      .span3
        %a{:href => "http://client.noviumdesign.se"} Client login