---
title: Novium Designbyrå - Erbjudande
keywords: Designbyrå, Novium Designbyrå, Novium Design, Förpackningsdesign, Logotype, Logotyp
description: Läs om hur vi arbetar med att bygga varumärken
body_class: strategy-page
---

.container
  .offer
    .row
      .span4
        %ul.unstyled
          %li
            %h5 Strategi
          %li
            Genom research och nya insikter skapar vi en tydlig riktning för varumärket.
          %li
            %h5 Branding
          %li
            Utveckling av designkoncept som förstärks med grafiska detaljer.
          %li
            %h5 Teknik
          %li
            Vi tar ett helhetsansvar och använder oss av senaste teknikerna.
      .offset1.span4
        %ul.unstyled
          %li Analys & research
          %li Varumärkesstrategi
          %li Konceptualisering
          %li Ikon & gränsnittsdesign
          %li Grafisk identitet
          %li Förpackningsdesign
          %li Webdesign & sociala medier
          %li Publiceringssystem & serverhantering
          %li Affärsapplikationer