---
title: Novium Designbyrå - Kontakt
keywords: Designbyrå, Novium Designbyrå, Novium Design, Förpackningsdesign, Logotype, Logotyp
description: Kontakta oss på Novium Designbyrå
body_class: contact-page
---

.container
  .employers
    .row
      .span4
        .row.employee{:itemscope => "", :itemtype => "http://schema.org/Person"}
          .span2.hidden-phone
            %img{:alt => "Stefan Edwall", :src => "/img/team/stefan.png"}
          .span2
            %p
              %span{:itemprop => "employee"}
                %a{:href => "mailto:stefan@noviumdesign.se"} Stefan Edwall
              %span{:itemprop => "jobTitle"} Projektledare & Affärsutvecklare
              %span{:itemprop => "telephone"} 070-676 97 20
      .span4
        .row.employee{:itemscope => "", :itemtype => "http://schema.org/Person"}
          .span2.hidden-phone
            %img{:alt => "Håkan Schallinger", :src => "/img/team/hakan.png"}
          .span2
            %p
              %span{:itemprop => "employee"}
                %a{:href => "mailto:hakan@noviumdesign.se"} Håkan Schallinger
              %span{:itemprop => "jobTitle"} Senior designer
              %span{:itemprop => "telephone"} 070-791 88 97
      .span4
        .row.employee{:itemscope => "", :itemtype => "http://schema.org/Person"}
          .span2.hidden-phone
            %img{:alt => "Ida Gyulai", :src => "/img/team/ida.png"}
          .span2
            %p
              %span{:itemprop => "employee"}
                %a{:href => "mailto:ida@noviumdesign.se"} Ida Gyulai
              %span{:itemprop => "jobTitle"} Grafisk formgivare
              %span{:itemprop => "telephone"} 076-837 91 91
      .span4
        .row.employee{:itemscope => "", :itemtype => "http://schema.org/Person"}
          .span2.hidden-phone
            %img{:alt => "Anton Kjörck Lindén", :src => "/img/team/anton.png"}
          .span2
            %p
              %span{:itemprop => "employee"}
                %a{:href => "mailto:anton@noviumdesign.se"} Anton Kjörck Lindén
              %span{:itemprop => "jobTitle"} Gränssnittsutvecklare
              %span{:itemprop => "telephone"} 073-534 50 22
      .span4
        .row.employee{:itemscope => "", :itemtype => "http://schema.org/Person"}
          .span2.hidden-phone
            %img{:alt => "Emil Blomquist", :src => "/img/team/emil.png"}
          .span2
            %p
              %span{:itemprop => "employee"}
                %a{:href => "mailto:emil@noviumdesign.se"} Emil Blomquist
              %span{:itemprop => "jobTitle"} Utvecklare
              %span{:itemprop => "telephone"} 070-491 02 03
      .span4
        .row.employee{:itemscope => "", :itemtype => "http://schema.org/Person"}
          .span2.hidden-phone
            %img{:alt => "Alexander Ekdahl", :src => "/img/team/alexander.png"}
          .span2
            %p
              %span{:itemprop => "employee"}
                %a{:href => "mailto:alexander@noviumdesign.se"} Alexander Ekdahl
              %span{:itemprop => "jobTitle"} Utvecklare
              %span{:itemprop => "telephone"} 070-285 95 88